[Unit]
Description=gunicorn instance to server api
After=network.target

[Service]
User=zarin
Group=zarin
WorkingDirectory=/home/zarin/app/src
Environment="PATH=/home/zarin/app/venv/bin"
ExecStart=/home/fastapi/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target